* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  padding-left: 12px;
  background: darkmagenta;
  font-weight: bold;
  font-size: 26px;
  color: white;
  display: flex;
  flex: 0;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

ul {
  list-style-type: none;  
  padding-left: 10px;  
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: semi-bold;
}

.cards {
  padding: 25px;
  margin-right: 16px;
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  justify-content: space-around;
  row-gap: 16px;
}

.footer {
  height: 72px;
  padding: 16px;
  background: #eee;
  color: darkmagenta;
  flex: 0;
  text-align: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex: 1;
}

.card {
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  flex: 0 30%;
}