/* Add CSS Styling */

.first-btn,
.second-btn {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

.first-btn {
    color: hsl(0, 0%, 100%);
    background-color: #000000;
}

.second-btn {
    background-color: #ffff0e;
}